{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Tobaco Curing App"/>
    <meta name="Author"content="casy moyo" />
    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}"/>

    {% block css %}
        <link rel="stylesheet" href="{% static 'css/main.css'%}">
        <link rel="stylesheet" href="{% static 'css/bootstrap/css/bootstrap.css'%}">
        <link rel="stylesheet" href="{% static 'assets/hint.css/hint.min.css'%}">
        <link rel="stylesheet" href="{% static 'assets/DataTables/datatables.min.css'%}">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <link href='{% static "assets/boxicons/css/boxicons.css"%}' rel='stylesheet'>
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    {% endblock css %}
    
    <script src="{% static 'js/jquery.js'%}"></script>
    <script src="{% static 'css/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/DataTables/datatables.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {% comment %} <script src="{% static 'js/common.js' %}"></script>  {% endcomment %}

    <title>
        {% block title %}{{ request.user.company.name }}{% endblock title %}
    </title>
</head>
<body>
    <div class="Tobbace Curing App">
        <div class="row">
            <div class=" top-bar">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">
                        <a class="navbar-brand fw-bold" href="{% url 'dashboard'%}">Tobaco Curing APP</a>
                        
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
            
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav ms-auto">
                                <li class="nav-item border rounded">
                                    <a class="nav-link" href='{% url "report-view" %}'>Reports</a>
                                </li>
                                <li class="nav-item border rounded mx-2">
                                    <a class="nav-link" href='{% url "users:users" %}'>Users</a>
                                </li>
                                <li class="nav-item border rounded">
                                    <a class="nav-link" href='{% url "config-list" %}'>Configuration</a>
                                </li>
                                <li class="nav-item mx-2">
                                    <span class="nav-link d-flex align-items-center">
                                        <i class="fas fa-user fs-4 text-muted"></i>
                                        <span class=''>{{ request.user }}</span>
                                    </span>
                                </li>
                                <li class="nav-item hint--bottom" aria-label='Logout'>
                                    <a class="nav-link" data-bs-toggle="modal" data-bs-target="#logoutModal">
                                        <i class="fas fa-sign-out-alt fs-4"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                    <div class="row">
                        <div>
                            <div class="app-area overflow container-fluid">
                                {% if messages %}
                                    {% for message in messages %}
                                        <div class="alert alert-dismissible {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                                        {{ message }}
                                        <button type="button"
                                            class="btn-close"
                                            data-bs-dismiss="alert"
                                            aria-label="Close">
                                        </button>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                {% block content %}{% endblock %}
                            </div>
                        </div>
                    </div>
            </div>
        </div>

        <!-- logout modal -->
        <div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="chargeModalLabel" aria-hidden="true">
            <div class="modal-dialog bg modal-dialog-centered">
                <div class="modal-content p-5">
                    <h5 class="fw-bold">Are you sure you want to logout?</h5>
                    <div class="d-flex justify-content-end mt-4">
                        <button class="btn btn-outline-dark">No</button>
                        <a href="{% url 'users:logout' %}" class="btn btn-seconday">Yes</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'css/bootstrap/js/bootstrap.bundle.min.js'%}"></script>    
    
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
          
    </script>
</body>
</html>